<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" content-type="text/html" />
	<link href="/css/praise.css" rel="stylesheet" />
	<!-- <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
 -->	<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.21.0/system-production.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!-- <script src="https://cdn.bootcss.com/lodash.js/4.17.5/lodash.min.js"></script> -->
	
</head>
<body>
	<p id="count">点击次数<span>{{ num }}</span></p>
	<div class="circleBG">
		
	</div>
	<script>
		System.import('/js/compiled/PraiseButton.js').then(function(m) {
			$.fn.praise=function(){
				new m.default(this);
			}

			$(".circleBG").praise();
		    });
	</script>
</body>
</html>
